<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav class="navbar">
    <div class="nav-sec">
      <span class="title">Bharat Agro</span>
      <button class="nav-button">Home</button>
      <button class="nav-button">Fertilizer</button>
      <button class="nav-button">Crop Recommendation</button>
      <button class="nav-button">Field finder</button>
    </div>
  </nav>
  <div class="main-sec">
    <!-- <img src="./img1.jpg" alt=""> -->
    <div class="center-box">
      <span>Welcome to our website!</span>
    </div>
  </div>
  <div class="cards">
    <div id="card-1" class="single-card">
      <span>Soil Recommendation</span>
      <form action="/redirect_to_page1" method="GET">
        <button type="submit">Submit</button>
      </form>
    </div>
    
    <div id="card-2" class="single-card">
      <span>Field</span>
      <form action="/redirect_to_page2" method="GET">
        <button type="submit">Submit</button>
      </form>
    </div>
    
    <div id="card-3" class="single-card">
      <span>Fertilizer</span>
      <form action="/redirect_to_page3" method="GET">
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>
